# Ignore personal application configurations
applications.yaml

# Python-related files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# IDE-specific files
.vscode/
.idea/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
